/awe.1
/awe.mk.7
/_build
*.o
*.cmi
*.cmo
*.awe.c
*.awe.h
test.output
actual*.output
*.zip
.hg
.hgignore
._d
._bcdi
.vscode
.idea
/scratch
/awe.1.html
/awe.html
/awe.mk.7.html
/awe
/libawe.a
/lexer.ml
/parser.ml
/parser.mli
/scanner.dot
/scanner.inc
/testparsing
/testparsing.ml
/Tools/awnest.ml
/Tools/awnest
/Tests/Argv-Multisource/program
/Tests/Argv/program
/Tests/ExternalRecords/program
/Tests/OldParse/parse
/Tests/OldParse/parse.alw
/Tests/Separate/program
/Tests/Separate/program.c
/Tests/Separate/separate.c
/Tests/SeparateC/program
/Tests/Stderr-redirection/program
/Tests/Strings-as-bytes/program
/Tests/Tracing/program
/INSTALL.html
/Examples/List/list
/Examples/Macro/macro
/Examples/Roman/roman
/Examples/test-cords/test-cords
/Examples/Logic/logicpas
/Examples/Logic/logic
/Examples/Logic/Logic.tar.gz
testme*
a.out
x.c
libawe/libawe.a
.gitignore
libawe/scanner.inc
libawe/scanner.dot
awe.opam
doc/awe.1
doc/awe.1.html
doc/awe.html
doc/awe.mk.7
doc/awe.mk.7.html
doc/github-markdown.css
doc/INSTALL.html
doc/algolw.aux
doc/algolw.fdb_latexmk
doc/algolw.fls
doc/algolw.log
doc/algolw.toc
doc/special.idx
doc/syntax.idx
doc/special.ilg
doc/special.ind
doc/syntax.ilg
doc/syntax.ind
doc/algolw.synctex.gz
